:host { display: flex; flex-direction: column; height: 100%; }

.toolbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: .75rem;
}
.filter { width: 160px; }
.flex-1 { flex: 1 1 auto; }

ag-grid-angular {
  flex: 1 1 auto;
}

button.btn-edit, button.btn-delete {
  border: none; background: transparent; cursor: pointer; padding: 4px;
}
