<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-sm bg-body-tertiary rounded m-1">
        <div class="card-header">Contact Us</div>
        <div class="card-body">
          <p class="card-text">
            <span class="fs-6 fw-semibold">
              Address : <br />
              C-63,Burdge Town(Pora Banglo)<br />
              P.O. : Medinipur - 721101<br />
              Dist. : Paschim Medinipur<br />
              Phone : 9002925946<br />
              Email : pas.mid.pbvm87&#64;gmail.com
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
