<div class="login-container">
  <div class="login-box">
    <div class="text-center mb-4">
      <img
        src="assets/pvbm_logo.png"
        alt="Logo"
        class="img-fluid logo"
      />
      <h4 class="fw-bold">Login to Your Account</h4>
    </div>
    <form [formGroup]="form">
      <div class="fluuid-container">
        <div class="mb-3 row">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label class="form-label">UserName</mat-label>
            <input
              matInput
              formControlName="userName"
              placeholder="Enter username"
              type="text"
              class="form-control"
            />
            <mat-error *ngIf="form.get('userName')?.hasError('required')">
              UserName is required
            </mat-error>
            <mat-error *ngIf="form.get('userName')?.hasError('minlength')">
              UserName must be at least 3 characters
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mb-3 row">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label class="form-label">Password</mat-label>
            <input
              matInput
              formControlName="password"
              placeholder="Enter password"
              type="password"
              class="form-control"
            />
            <mat-error *ngIf="form.get('password')?.hasError('required')">
              UserName is required
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('minlength')">
              UserName must be at least 3 characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary" (click)="handleLogin()">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
