<footer class="bg-dark text-white py-4">
  <div class="container text-center">
      <p class="mb-0">© 2025 Bigyan Mancha. All rights reserved.</p>
      <p class="mb-0">Site is maintained and developed by <a href="https://www.facebook.com/soumyakanti.ghosh" target="_blank">SoumyaKanti Ghosh.</a></p>
      <p class="mb-0">
          <a href="https://www.yourwebsite.com/privacy" class="text-white text-decoration-none">Privacy Policy</a>
          |
          <a href="https://www.yourwebsite.com/terms" class="text-white text-decoration-none">Terms of Service</a>
      </p>
  </div>
</footer>
