<div class="form-container">
  <!-- item-dialog.component.html -->

  <form [formGroup]="form!" (ngSubmit)="save()">
    <h2 mat-dialog-title>{{ title }}</h2>
    <mat-card>
      <mat-card-content>
        <div class="fluid-container">
          <div class="row">
            <!-- Role Dropdown -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>User Type</mat-label>
              <mat-select
                formControlName="role"
                (selectionChange)="handleUserTypeChange($event)"
              >
                <mat-option
                  *ngFor="let userType of roles"
                  [value]="userType.value"
                >
                  {{ userType.displayname }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form?.get('role')?.hasError('required')">
                Please select a User Type
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row" *ngIf="shouldShowVigyanKendraDropdown()">
            <!-- Vigyan Kendra Dropdown -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Vigyan Kendra</mat-label>
              <mat-select formControlName="vigyanKendraId">
                <mat-option
                  *ngFor="let vigyanKendra of vigyanKendraList"
                  [value]="vigyanKendra.id"
                >
                  {{ vigyanKendra.name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="form?.get('vigyanKendraId')?.hasError('required')"
              >
                Please select a Vigyan Kendra
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <!-- Name Field -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Username</mat-label>
              <input
                matInput
                formControlName="userName"
                placeholder="Enter user name"
              />
              <mat-error *ngIf="form?.get('userName')?.hasError('required')">
                username is required
              </mat-error>
              <mat-error *ngIf="form?.get('userName')?.hasError('minlength')">
                username must be at least 3 characters
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <!-- Name Field -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Email</mat-label>
              <input
                matInput
                formControlName="email"
                placeholder="Enter email"
              />
              <mat-error *ngIf="form?.get('email')?.hasError('required')">
                email is required
              </mat-error>
              <mat-error *ngIf="form?.get('email')?.hasError('minlength')">
                email must be at least 3 characters
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <!-- Name Field -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                formControlName="password"
                placeholder="Enter password"
              />
              <mat-error
                *ngIf="!isEdit && form?.get('userName')?.hasError('required')"
              >
                password is required
              </mat-error>
              <mat-error
                *ngIf="!isEdit && form?.get('userName')?.hasError('minlength')"
              >
                password must be at least 3 characters
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form?.valid"
          class="me-2"
        >
          Submit
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="resetForm()"
          class="me-2"
        >
          Reset
        </button>
        <button mat-stroked-button (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
