<div class="form-container">
  <!-- item-dialog.component.html -->

  <form [formGroup]="form" (ngSubmit)="save()">
    <h2 mat-dialog-title>{{ title }}</h2>
    <mat-card>
      <mat-card-content>
        <div class="fluid-container">
          <div class="row">
            <!-- Vigyan Kendra Dropdown -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Exam Center</mat-label>
              <mat-select formControlName="examCenterId">
                <mat-option
                  *ngFor="let examCenter of examCenterList"
                  [value]="examCenter.id"
                >
                  {{ examCenter.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('examCenterId')?.hasError('required')">
                Please select a Exam Center
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
          class="me-2"
        >
          Submit
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="resetForm()"
          class="me-2"
        >
          Reset
        </button>
        <button mat-stroked-button (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>


