<div class="form-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="fluid-container">
        <div class="row">
          <mat-list role="list">
            <ng-template ngFor let-name [ngForOf]="schoolNames">
              <mat-list-item role="listitem">{{
                name
              }}</mat-list-item>
              <mat-divider></mat-divider>
            </ng-template>
          </mat-list>
        </div>
      </div>
      <p *ngIf="isEmptySchools">No Schools Found</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button (click)="onCancel()">Close</button>
    </mat-card-actions>
  </mat-card>
</div>
