<!-- Topbar Section -->
<div class="container-fluid bg-light p-0">
  <div class="row gx-0 d-none d-lg-flex" *ngIf="shouldShow()">
    <div class="col-lg-7 px-5 text-start">
      <div class="h-100 d-inline-flex align-items-center py-3 me-4">
        <small class="fa fa-map-marker-alt text-primary me-2"></small>
        <small>XYZ Road, Delhi, India</small>
      </div>
      <div class="h-100 d-inline-flex align-items-center py-3">
        <small class="far fa-clock text-primary me-2"></small>
        <small>Mon - Sat: 09:00 AM - 07:00 PM</small>
      </div>
    </div>
    <div class="col-lg-5 px-5 text-end">
      <div class="h-100 d-inline-flex align-items-center py-3 me-4">
        <small class="fa fa-phone-alt text-primary me-2"></small>
        <small>+91 2222 000000</small>
      </div>
      <div class="h-100 d-inline-flex align-items-center">
        <a class="btn btn-sm-square bg-white text-primary me-1" href=""
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-sm-square bg-white text-primary me-1" href=""
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="btn btn-sm-square bg-white text-primary me-1" href=""
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a class="btn btn-sm-square bg-white text-primary me-0" href=""
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
  </div>
  <a
    href="index.html"
    class="navbar-brand d-flex align-items-center px-4 px-lg-5"
    *ngIf = "!shouldShow()"
  >
    <h2 class="m-0 text-primary">
      <img
        src="../../../assets/pvbm_logo.png"
        class="img-fluid"
        width="100"
        alt=""
      />
    </h2>
  </a>
</div>
<app-portal-menu-bar></app-portal-menu-bar>
