<div class="header shadow-sm bg-body-tertiary rounded mt-2">
  <a class="navbar-brand d-flex" href="#">
    <img
      src="../../../assets/bigyanmancha_logo.jpg"
      width="70"
      height="70"
      style="border-radius: 60%; z-index: 1000"
      class="d-inline-block my-auto ml-2"
      alt=""
    />
    <span
      class="navbar-brand my-auto d-block fs-1 fw-bold ml-5"
      style="font-family: headerfont; color: #0a668a"
      >PASCHIMBANGA VIGYAN MANCHA (Paschim Medinipur District Committee)
    </span>
  </a>
</div>
<div class="shadow-sm bg-body-tertiary rounded mt-3 menu-container">
  <nav class="navbar navbar-expand-lg fs-3 fw-bold mx-auto my-auto">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul
        class="navbar-nav mr-auto"
        style="font-family: headerfont; color: #07aff1"
      >
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery" routerLinkActive="active"
            >Images</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events" routerLinkActive="active"
            >Upcoming Events</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us" routerLinkActive="active"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
