<div class="form-container">
  <!-- item-dialog.component.html -->

  <form [formGroup]="form" (ngSubmit)="save()">
    <h2 mat-dialog-title>{{ title }}</h2>
    <mat-card>
      <mat-card-content>
        <div class="fluid-container">
          <div class="row">
            <!-- Vigyan Kendra Dropdown -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Vigyan Kendra</mat-label>
              <mat-select
                formControlName="vigyanKendraId"
                (selectionChange)="setVigyanKendraFilter($event)"
              >
                <mat-option
                  *ngFor="let vigyanKendra of vigyanKendraList"
                  [value]="vigyanKendra.id"
                >
                  {{ vigyanKendra.name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="form.get('vigyanKendraId')?.hasError('required')"
              >
                Please select a Vigyan Kendra
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!-- Name Field -->
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  formControlName="name"
                  placeholder="Enter full name"
                />
                <mat-error *ngIf="form.get('name')?.hasError('required')">
                  Name is required
                </mat-error>
                <mat-error *ngIf="form.get('name')?.hasError('minlength')">
                  Name must be at least 3 characters
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <!-- Sex Dropdown -->
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Sex</mat-label>
                <mat-select formControlName="sex">
                  <mat-option
                    *ngFor="let gender of genders"
                    [value]="gender.value"
                  >
                    {{ gender.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('sex')?.hasError('required')">
                  Please select a gender
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <!-- Roll Number -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Roll</mat-label>
              <input matInput formControlName="roll" placeholder="Enter roll" />
              <mat-error *ngIf="form.get('roll')?.hasError('required')">
                Roll number is required
              </mat-error>
              <mat-error *ngIf="form.get('roll')?.hasError('pattern')">
                Only numbers are allowed
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <!-- Phone Number -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Enter Number</mat-label>
              <input
                matInput
                formControlName="number"
                placeholder="Enter number"
              />
              <mat-error *ngIf="form.get('number')?.hasError('required')">
                Number is required
              </mat-error>
              <mat-error *ngIf="form.get('number')?.hasError('pattern')">
                Please enter a valid number
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <!-- School Dropdown -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>School</mat-label>
              <mat-select formControlName="school">
                <mat-option
                  *ngFor="let school of filteredSchoolList()"
                  [value]="school.id"
                >
                  {{ school.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('school')?.hasError('required')">
                Please select a school
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <!-- Class Dropdown -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Class</mat-label>
              <mat-select formControlName="class">
                <mat-option *ngFor="let class of classList" [value]="class.id">
                  {{ class.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('class')?.hasError('required')">
                Please select a class
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
          class="me-2"
        >
          Submit
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="resetForm()"
          class="me-2"
        >
          Reset
        </button>
        <button mat-stroked-button (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
